body {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}

h1, .logo {
    color:#f9faf8
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}

h2 {
    font-size:18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
}

button {
    color: #f9faf8;
    background-color: #3882F6;
    border-color: #3882F6;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 25px;
    border-style: solid;
    width: 150px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 16px;
    padding-left: 8px;
}

img {
    height: 300px;
    width: auto;
}

.top {
    display:flex;
    justify-content: space-between;
    padding: 8px;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 50px 0px;
    gap: 50px;
}

.herotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;  
}

.information{
    display: flex;
    flex-direction: column;
}
.infohead {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}
.ingredients {
    display: flex;
    flex-direction: row;
    text-align: center;
}
